body {
  display: flex;
  justify-content: space-around;
}

.active{
  color: blue;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.wrapper {
  width: 40vw;
  display: inline-block;
  vertical-align: top;
}

/*header*/

.header-name {
  display: flex;
  justify-content: center;
  background-color: #EF767A;
  margin: 0;
  height: 80px;
  align-items: center;
}

/*reminder-list*/

.reminders-container {
  width: 40vw;
  display: inline-block;
  margin-bottom: 20px;
}

/*.spec-reminder-item {
  display: inline-block;
}*/

li {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.dirty-attribute {
  background-color: rgba(35,240,199,.2);
}

/*new reminder*/

.new-reminder-btn {
  display: inline-block;
  vertical-align: bottom;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid black;
  width: 150px;
  height: 20px;
  text-align: center;
  font-size: 14px;
}

.add-notes--form {
  /*margin: 20px;*/
  display: flex;
  flex-direction: column;
  width: 40vw;
}

/*single reminder*/

.spec-reminder-title {
  font-size: 22px;
}

.spec-reminder-delete {
  /*margin-left: 30px;*/
}

.spec-edit-btn {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid black;
  width: 150px;
  height: 20px;
  text-align: center;
}

button {
  font-size: 12px;
  appearance: none;
  box-shadow: none;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
  width: 150px;
}

input, textarea {
  margin: 10px;
  width: 200px;
}

button:hover, .spec-edit-btn:hover, .new-reminder-btn:hover {
  background-color: #23F0C7;
  cursor: pointer;
}
