<form class="edit-notes--form" {{action 'updateNote' model.id on="submit"}}>
 <label>
   Title
   {{input class="spec-input-title" value=title}}
 </label>
 <label>
   Date
   {{input class="spec-input-date" value=date}}
 </label>
 <label>
   Note
   {{textarea class="spec-textarea-notes" value=notes}}
 </label>
 <button class="edit-notes--submit">Submit</button>
</form>
